<h1>Technologie bearbeiten</h1>

<button type="button" (click)="goBack()" mat-raised-button color="primary" class="mb-10">Zurück</button>

<form [formGroup]="technologyEditForm" (ngSubmit)="onSubmit(technologyEditForm.value)" class="form-vertical">

  <mat-form-field appearance="fill">
    <mat-label>Ring</mat-label>
    <mat-select id="ring" formControlName="ring">
      <mat-option value="assess">Assess</mat-option>
      <mat-option value="trial">Trial</mat-option>
      <mat-option value="adopt">Adopt</mat-option>
      <mat-option value="hold">Hold</mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Beschreibung der Einordnung</mat-label>
    <textarea matInput id="classificationDescription" formControlName="classificationDescription"></textarea>
    <mat-error *ngIf="technologyEditForm.controls['classificationDescription']?.errors?.['required']">{{'Beschreibung wird benötigt'}}</mat-error>
  </mat-form-field>

  <button type="button" mat-raised-button color="primary" type="submit">
    Ändern
  </button>
</form>

