<h1>Technologie hinzufügen</h1>


<button type="button" (click)="goBack()" mat-raised-button color="primary" class="mb-10">Zurück</button>

<form [formGroup]="technologyAddForm" (ngSubmit)="onSubmit(technologyAddForm.value)" class="form-vertical">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput id="name" formControlName="name" required>
    <mat-error *ngIf="technologyAddForm.controls['name']?.errors?.['required']">{{'Name wird benötigt'}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Kategorie</mat-label>
    <mat-select id="category" formControlName="category" required>
      <mat-option *ngFor="let option of availableCategories" [value]="option.value">
        {{option.text}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="technologyAddForm.controls['category']?.errors?.['required']">{{'Kategorie wird benötigt'}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ring</mat-label>
    <mat-select id="ring" formControlName="ring">
      <mat-option *ngFor="let option of availableRingTypes" [value]="option.value">
        {{option.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Beschreibung</mat-label>
    <textarea matInput id="technologyDescription" formControlName="technologyDescription" required></textarea>
    <mat-error *ngIf="technologyAddForm.controls['technologyDescription']?.errors?.['required']">{{'Beschreibung wird benötigt'}}</mat-error>
  </mat-form-field>

  <button type="button" mat-raised-button color="primary" type="submit">
    Hinzufügen
  </button>
</form>

